[NetDev]
Name = {{.Bob.Name}}
Kind = wireguard

[WireGuard]
ListenPort = {{.Alice.WireGuardEndpoint}}
PrivateKey = {{.Alice.WireGuardPrivateKey}}

[WireGuardPeer]
Endpoint   = {{.Bob.WireGuardEndpoint}}
PublicKey  = {{.Alice.WireGuardPublicKey}}
AllowedIPs = 172.20.0.0/14
AllowedIPs = 172.31.0.0/16
AllowedIPs = 10.100.0.0/14
AllowedIPs = 10.127.0.0/16
AllowedIPs = fd00::/8
AllowedIPs = fe80::/10
